[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git


[submodule "themes/hugo-creative"]
	path = themes/hugo-creative
	url = https://github.com/digitalcraftsman/hugo-creative-theme
