{{ "<!-- CASES -->" | safeHTML }}

<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    {{ .Site.Params.cases.title }}
                </h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class=" service-box-container">
        <div class="row">

        {{ if eq $.Site.Language.Lang "cn" }}
            {{ range sort .Site.Data.cases.cn "order" }}
            <div class = "cases-container col-md-8 col-md-push-2 col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 text-justify">
                {{ .markdown | markdownify }}
            </div>
            {{ end }}
        {{ else }}
            {{ range sort .Site.Data.cases.en "order" }}
            <div class = "cases-container col-md-8 col-md-push-2 col-xs-10 col-xs-push-1 col-sm-10 col-sm-push-1 text-justify">
                {{ .markdown | markdownify }}
            </div>
            {{ end }}
        {{ end }}
        </div>
    </div>
</section>
